{
  "extends": "airbnb-base",
    "parserOptions": {
      "sourceType": "script"
    },
    "env": {
      "node": true
    },
    "rules": {
      "strict": [2, "global" ],
      "prefer-rest-params": 0
    }
  }
  